body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

#current-image-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

#search-history {
    list-style-type: none;
    padding: 0;
}

#search-history li {
    cursor: pointer;
    margin-bottom: 5px;
}

#search-history li:hover {
    text-decoration: underline;
}
